*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    /* background-color: white; */
    text-decoration: none;  
    /* display: flex; */
    /* background-color: #232323; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* scroll-padding-top: 7rem; */
    scroll-behavior: smooth;
}
/* header section */
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    padding: 3rem 9% ;
    border-bottom: .1rem solid rgb(0, 0, 0);
    background-color: white;
    /* box-shadow: 2px 6px 8px rgb(126, 15, 15); */ 
}
/* when we scroll header will active  */
.header.active{
    box-shadow: 2px 5px 10px grey;
    padding: 2rem 9%;

}
/* company logo */

.logop{
    margin-top: 1rem;
    margin-left: -3rem;
    width: 69rem;
    /* 60 */
    height: 3.5rem;
    /* 6 */
}
/* logo css end  */

/* navbar css start  */
.navbar{
    margin-left: -35rem;
}
 .header .navbar a{
    font-size: 2rem;
    margin:  0 2rem;
    /* margin-left: -3rem; */
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    font-weight: 600;
    
}
/* navbar css end  */

/* login btn css start */
.btn{
        /* display: inline-block; */
        /* margin-top: 1rem; */
        border-radius: .5rem;
        font-weight: 700;
        font-size: 1.7rem;
        padding: .8rem 2rem;
        /* cursor: pointer; */
        margin-top: 0;
        /* background-color:  rgb(234, 234, 124); */
        background-color: rgb(67, 64, 64);
        color: white;
        /* color: white; */
        border:.01rem solid white;
        /* margin-top: 1rem; */  
}
.login-btn :hover{
    border:.01rem solid white;
    /* background-color: rgb(246, 238, 9); */
    background-color: rgb(0, 0, 0);
   

}
.btn:hover{
    /* background-color: rgb(246, 238, 9); */
    background-color:black;
}
.login-btn i{
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
    color: red;
}

/* login btn css end  */
 /* hamburger btn for responsive  */
#menu-btn{
    font-size: 2.5rem;
    color: lightcolor;
    cursor: pointer;
    display: none;
}
/* .login-btn.remove{
    position: ;
    top: -130%;
} */
 /* header section end  */

 /* login form when user click on btn  */
.login-form-container{
    position: fixed;
    top: -105%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0;
    /* backdrop-filter: blur(20px);  */
}
/* js when click on login btn  */
.login-form-container.active{
    top: 0;
    opacity: 1;
    /* backdrop-filter: blur(20px); */
}

.login-form-container form{
    padding: 2rem;
    padding-bottom: .3rem;
    margin: 2rem;
    /* border-radius: .5rem; */
    box-shadow:  4px 6px 15px  rgb(26, 23, 18);
    /* background:white; */
    /* border: .2rem rounded grey; */
    text-align: center;
    width: 40rem;
    backdrop-filter:  blur(200px);
}

.login-form-container  .button{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.login-form-container form  .btn{
    /* display: block; */
    width: 100%;
    /* margin: .5rem 0; */
    font-weight: 800;
}
.login-form-container form h3{
    color: black;
    font-size: 2.5rem;
    padding-bottom:1rem ;
    text-transform: uppercase;
}
.login-form-container form .box{
    margin: .5rem;
    width: 98%;
    text-transform: none;
    color: black;
    border: .15rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .7rem .3rem;
    /* text-align: center; */
    margin-left: 0;
    justify-content: space-evenly;
    
}
.login-form-container form #email{
    margin-left: -1rem;
}
/* user icon */
#user{
    
  margin-left: -3.5rem;
  top: 0.4rem;
    font-size: 2rem;
    position: relative;
  
}

/* eyeicon */
#password-img{
    display: flex;
    align-items: center;
}

#password-img img{
    width: 2rem;
    cursor: pointer;
    margin-left: -3.2rem;
    margin-top: .4rem;
}

.login-form-container form p {
    padding: 1rem 0;
    font-weight: 700;
    color: black;
}
.login-form-container form p a{
    text-decoration: none;
    /* color: #43f906; */
    color: black;
    font-weight: 700;
}

/* cancel(x) btn  */
.login-form-container #close-login-form{
    position: absolute;
    left: 96rem;
    top:  20rem;
    z-index: 100;
    font-size: 2rem;
    /* color: black; */
    color: rgb(255, 0, 0);
    cursor: pointer;
    /* height: 2rem;
    width: 2rem; */
    
}
/* login form css end  */

/* signup form css */

.signup-form-container1{
    position: fixed;
    top: -105%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0;
}

.signup-form-container1.active{
  top: 0;
    opacity: 1;
}


.signup-form-container1 form{
    padding: 2rem;
    margin: 2rem;
    /* border-radius: .5rem; */
    box-shadow:  4px 6px 15px  rgb(26, 23, 18);
    /* background:white; */
    backdrop-filter:  blur(20px);
    border: .2rem rounded grey;
    text-align: center;
    width: 40rem;
    color: black;
    font-weight: 700;
}

.signup-form-container1  .button{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.signup-form-container1 form  .btn{
    /* display: block; */
    width: 100%;
    /* margin: .5rem 0; */
    font-weight: 800;
}
.signup-form-container1 form h3{
    color: black;
    font-size: 2.5rem;
    padding-bottom:1rem ;
    text-transform: uppercase;
}
.signup-form-container1 form .box{

    margin: .5rem;
    width: 92%;
    text-transform: none;
    color: black;
    border: .15rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .7rem .3rem;
    /* text-align: center; */
}
/* input[type=email]::placeholder{
    color: red;
} */



.signup-form-container1 form p {
    padding: 1rem 0;
    font-weight: 400;
}
.signup-form-container1 form p a{
    text-decoration: underline;
    color: #43f906;
    font-weight: 700;
}

/* cancel(x) btn  */
.signup-form-container1 #close-login-form1{
    position: relative;
    /* top: 3rem;
    right: 4rem;
    font-size: 3rem; */
    left: 44rem;
    top:  -19rem;
    z-index: 100;
    font-size: 2rem;
    /* color: black; */
    color: rgb(255, 0, 0);
    cursor: pointer;
    /* height: 2rem;
    width: 2rem; */
    
}
#signup-pass{
    margin-left: 1rem;
}
#signup-conform-pass{
    margin-left: 1rem;
}



/* error class in signup form  */
#mobile-no.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#mobile-no.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}
 
#signup-username.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup-username.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}

#signup-email.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup-email.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}
#signup-pass.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup-pass.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}
#signup_city.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup_city.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}
#signup_state.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup_state.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}
#signup_address.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
}
#signup_address.remove{
    border: 1px solid rgb(56, 203, 11);
    box-shadow: 0 0 9px rgb(38, 196, 10);
}


    

/* media queries for responsive */
@media(max-width:1092px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
        
    }
    .header.active{
        /* box-shadow: 2px 1px 8px grey; */
        padding: 2rem;
    
    }
}

@media(max-width:896px){
    html{
        font-size: 50%;
    }
    section{
        padding: 2rem ;
    }
}

@media(max-width:774px){
    /* html{
        font-size: 45%;
    } */
    #menu-btn{
        display: block;
        
    }
    #menu-btn.fa-times{
        rotate: 180deg;
    }
    .login-btn i{
        /* opacity: 0; */
        display:block;
    }
    .login-btn .btn{
        
        display:none;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
    }
     .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .3rem solid rgba(0,0,0,.4); 
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        /* padding: 2rem; */
        font-size: 2rem;
        border-bottom: .5px solid grey;
        
    }

   

}



.con{
    display: flex;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
   

   height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: .01rem solid black;
 

}
.con img{
    flex:  1 0 100%;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    object-fit: fill;
    z-index: 1;
   
   
    
}

.parent .slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
   
    top: 56rem;
   
    font-size: 15rem;
    transform: translate(-50%);
    z-index: 100;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
}
.slider-nav a:hover{
    transform: scale(2);
}
   .parent
{
    height: 38rem;
    width:93% ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top:20rem ;    
}
/* forgot password css */
.forgot-password{
    
    position: fixed;
    top: -105%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0;
    
}
.forgot-password form{
    
    /* margin-left: 50%; */
    /* margin-top: 50%; */
     /* height: 100%; */
     width: 40rem;  
    display: flex;
    flex-direction: column;
    box-shadow:  4px 6px 15px  rgb(26, 23, 18);
    /* background:white; */
    backdrop-filter:  blur(20px);
    border: .2rem rounded grey;
    padding: 2rem;
    margin: 2rem;
    /* align-items: center; */
    justify-content: space-evenly;
}
.forgot-password.active{
    top: 0rem;
    opacity: 1;
    /* position: absolute; */
    /* top: -150rem; */
    /* display: flex;
    height: 100vh;
    border: 2px solid black;
    /* background: rgba(255,255,255,0.7); */
}


.forgot-password form .box{

margin: .5rem;
width: 92%;
text-transform: none;
color: black;
border: .15rem solid black;
border-radius: .5rem;
font-size: 1.5rem;
padding: .7rem .3rem;
/* text-align: center; */
}

.box .btn{
    font-weight: 700;
    color: #fff;
}

.forgot-password #close{
    position: absolute;
    top: 24rem;
    color: rgb(255, 0, 0);
    left: 96rem;
    z-index: 100;
    font-size: 2rem;
    /* color: black; */
    cursor: pointer;
    /* height: 2rem;
    width: 2rem; */
    
}
.forgot-password h3{
    text-align: center;
    margin-bottom: .8rem;
    text-decoration: none;
}

.otp-button{
    width: 43%;
    /* margin-left:25%; */
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.button-for-otp{
    display: flex;
    justify-content: center;
    gap: .8rem;
}

/* #inputed-otp.active{
   border: 1px solid red;
    box-shadow: 0 0 9px red;
    
}

#new-password.active{
    border: 1px solid red;
    box-shadow: 0 0 9px red;
} */
/* login btn remove  after login/signup  */
#login-btn.remove{
    margin-top:-100rem;
    opacity:1;
}

/* user panel after login/signup  */
.user-panel{
    /* display: none; */
   position: absolute;
    right: 14rem;
    top: -9.6rem;
    /* opacity: 0; */
    /* z-index: 111; */
    /* top:3.9rem; */
    
}
#user-icon{
    /* position: absolute; */
    font-size: 3rem;
    cursor: pointer;
    margin-top: .5rem;
    /* left: -2rem; */
    /* z-index: 111; */
    
}

 .usermenu{
    /* display: none; */
    right: 3rem;
    position: absolute;
    /* z-index: 111; */
    top:-90rem;
    /* top: 30px; */
    /* right: -9rem; */
    /* left: -9rem; */
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff ;
    /* display: none; */
    width: 12rem;
}
.usermenu a {
    display: block;
    border-bottom:.01px solid rgb(0, 0, 0);
    padding: 10px;
    /* width: 100%; */
    text-decoration: none;
    color: black;
    z-index: 1000;
    font-size: 1.5rem;
}
.usermenu a:hover {
    background-color: black;
    color:white ;
    /* rgb(65, 65, 137); */
}

.user-panel.active{
    opacity: 1;
    top: 2rem;
}

.usermenu.active{
    top: 3rem;
    opacity: 1;
}
/* --------------------------------------------------------------------- */
/* cars logo div css */
.featured-car{
    height: 40rem;
    margin-top: 5rem;
    background-color: white;
    
}

.car-logo-container{
    /* border: 2px solid black; */
    height: 35rem;
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
}

.cars-logos{
    width: 30rem;
    height: 15rem;
    /* border: .2rem solid black; */
    
}

.cars-logos img{
    width: 100%;
    height: 100%;
}
 
/* 2nd row images/logo  */
.car-container2{
    margin-top: -16rem;
    margin-left: 20rem;
    display: flex;
    gap : 7rem;

}


/* ---------------------------------------------------------------------- */
/* category css  */
.category-container{
    margin-top: 15rem;
    height: 20rem;
}

.category-container h1{
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

.car-category {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    font-size: 4rem;
}

/* ------------------------------------------------------------------------- */


/* blue border css and card  */
.color-border{
    /* position: relative; */
    margin-top: 3rem;
    background-color: #007bff;
    padding: 2rem;
    height: 60rem;
    /* border: 2px solid black; */
    /* margin-left: 2rem;
    margin-right: 2rem; */
  
}

.cardflex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#addedcar{
    color: white;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 4rem;
}
.card {
    /* top: 1rem; */
    width: 35rem;
    height: 47rem;
    /* margin-left: 40px; */
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
    /* padding-top: 4rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card h5{
    font-size: 2rem;
    /* text-align: center; */
}
#move{
margin-top: 4rem;
}

.card img {
    width: 90%;
    height: auto;
    display: block;
    padding: 1rem;
    padding-left: 1.8rem;
    padding-top:2rem;
    padding-right: 2rem;
    /* border-radius: 4rem; */
    /* border-bottom: 1px solid #ccc; */
}

.card-body {
    padding: 1rem;
    /* height:rem; */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 2rem;
}

.title {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
#heart{
    margin-top: .5rem; 
    margin-right: .4rem;
}
.red-heart {
    color: #ff0000 !important; 
}


#price-id{
    padding-left: 2.7rem;
}
.engine-class{
    display: flex; 
    margin-top: -2rem;
}

.engine-class img {
    width: 2rem; 
    padding-left: 0rem;
    margin-top: -1.5rem; 
    height: 2rem; 
    display: flex;
}

.engine-class strong{
    padding-left: -.5rem;
}

.mileage-class{
    display: flex;
    margin-top: -7rem;
}

.mileage-class img{
    width: 2.5rem; 
    height: 2.5rem;
    padding-left: 0rem;
    margin-top: -1.5rem;
}

.mileage-class strong{
    margin-left: -.5rem;
}

.btnbook {
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color:#007bff;
    color: #fff;
    border: none;
    border-radius: .6rem;
    /* padding-bottom: .8rem; */
    margin-bottom: 2rem;
    margin-left: .65rem;
    margin-top: -1.5rem;
    transition: background-color 0.3s;
    
}
.btnnow{
    display: flex;
    justify-content:space-between;
}

.btnbook:hover {
    background-color:black;
}

.moreinfo {
    color:orange;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 1rem;
    /* padding-bottom: .5rem; */
    margin-bottom: .5rem;
    /* justify-self: end; */
}

.moreinfo:hover {
    text-decoration: underline;
}

.viewallcar{
    border: #007bff;
    margin-top: 3rem;
    margin-left: 5rem;
    background-color: orange;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: 1.2rem;
    box-shadow: #ccc;
    color:#fff;
    text-align: center;
    padding-top: .7rem;
    font-weight: 600;
}

/* -------------------------------------------------- */
/* SUBCRIPTION CSS  */
.black-container{
    margin-top: 8rem;
    height: 45rem;
    border: 2px solid black;
    background-color: #000000;
    margin-left: 8rem;
    margin-right: 8rem;
}

.black-container #premium{
    font-size: 6rem;
    text-align: center;
    color: white;
    font-weight: 600;
}

.black-container #slogan{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.premium-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 10rem;

}
 /* text color  */
.premium-container #basic{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    padding-top: 3rem;
    color: #fff;
}

.premium-container #standard{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    color: white;
    padding-top: 3rem;
}

.premium-container #premium{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    z-index: 1;
    color:white ;
    padding-top: 3rem;
}


.basic{
    height: 50rem;
    width: 30rem;
    /* border: 2px solid black; */
    /* background-color: white; */
    box-shadow: 1px 2px 1rem rgb(27, 26, 26);
    background-color: rgb(65, 65, 137);
    /* z-index: 1; */
    margin-left: 5rem;
    margin-top: 3rem;
    color: #fff;
}

.standard{
    height: 50rem;
    width: 30rem;
    /* border: 2px solid black; */
    /* background-color: white; */
    background-color: rgb(65, 65, 137);
    box-shadow: 1px 2px 1rem rgb(27, 26, 26);
    /* z-index: 1; */
    margin-left: 8rem;
    margin-top: 3rem;
    color: #fff;
}

.premium{
    height: 50rem;
    width: 30rem;
    /* border: 2px solid black; */
    /* background-color: white; */
    background-color: rgb(65, 65, 137);
    box-shadow: 1px 2px 1rem rgb(27, 26, 26);
    color: white;
    /* z-index: 1; */
    margin-left: 5rem;
    margin-top: 3rem;
}
.paragraph{
    margin-top: 25rem;
}

#description-of-sub{
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
}


#description-of-sub i{
    padding-left: .01rem;
}
/* for  subcription btn  */
.basic-subcription{
    height: 5rem;
    width: 12rem;
    border-radius: 2rem;
    /* background-color: black; */
    background-color: rgb(245, 133, 151);
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    border: white;
     
    
}

.basic-sub-btn{
    margin-left: 9em;
    margin-top: 6rem;
}

.standard-subcription{
    height: 5rem;
    width: 12rem;
    border-radius: 2rem;
    /* background-color: black; */
    background-color: rgb(245, 133, 151);
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    border: white;
}

.standard-sub-btn{
    margin-left: 9em;
    margin-top: 7.5rem;
}

.premium-subcription{
    height: 5rem;
    width: 12rem;
    border-radius: 2rem;
    /* background-color: black; */
    background-color: rgb(245, 133, 151);
    color: #fff;
    border: white;
    font-weight: 500;
    font-size: 2rem;
}

.premium-sub-btn{
    margin-left: 9em;
    margin-top: 3.7rem;
}

.basic:hover{
    background-color: navy;
    color: white;
    /* #basic{
        color: #ccc;
    } */

    .basic-subcription{
        border: white;
        /* background-color: red; */
        background-color: rgb(245, 133, 151);
        
    }
}

.standard:hover{
    background-color: navy;
    color: white;
    /* #basic{
        color: #ccc;
    } */

    .standard-subcription{
        border: white;
        /* background-color: red; */
        background-color: rgb(245, 133, 151);
        
    }
}
.premium:hover{
    background-color:navy;
    color: white;
    #premium{
        color: #fff;
    }

    .premium-subcription{
        border: white;
        background-color: rgb(245, 133, 151);
        
    }
}


/* ----------------------------------------------------------------------------------------------- */

/* footer css  */

.footer-main-container{
    background-color: black;
    border: 2px solid black;
    height: 39rem;
    margin-top: 40rem;
}

.footer-flex-container{
    display: flex;
    /* justify-content: space-around; */
    height: 29rem;
    margin-top: 3rem;
    width: 95%;
    margin-left: 3rem;
    /* border: 2px solid white; */
}

.company-logo{
    height: 20rem;
    width: 25rem;
    /* border: 2px solid white; */
    margin-top: 1rem;
    margin-left: 4rem;
    

}

.company-logo #product{
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: start;
    text-decoration: underline;
}

.company-logo #product-names{
    color: white;
    font-size: 1.5rem;
    /* text-align: center; */
    margin-top: 3rem;
    /* text-align: center; */
}

.about-company{
    height: 20rem;
    width: 35rem;
    /* border: 2px solid white; */
    margin-top: 1rem;
    margin-left: 20rem;
}

.about-company #about-company-descption{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: underline;

}

.about-company #main-para{
    color: white;
    font-size: 1.3rem;
    
    /* text-align: center; */
    margin-top: 3rem;

}
.main-para{
    margin-top: 50px;
}

.address-company{
    height: 20rem;
    width: 45rem;
    /* border: 2px solid white; */
    margin-top: 6rem;
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
}
.address-company #contact-us{
    font-size: 2rem;
    margin-top: -4rem;
    text-decoration: underline;
}
.address-company p{
    color: #ffffff;
    font-size: 1.5rem;
}
.address-company i{
    font-size: 2rem;
}

.address-company .location{
    width: 60%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

}

.address-company .phonenum{
    width: 34.5%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.address-company .email{
    width: 62%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.social-media-box{
    height: 4rem;
    width: 30rem;
    /* border: 2px solid rgb(255, 255, 255); */
    margin-top: 1rem;
    margin-left: 55rem;
    margin-bottom: -3rem;
    display: flex;
    justify-content: space-around;
}

.social-media-box a i{
    font-size: 3rem;
}